/*
 * vars
 */

$max_width: 1000px;
$min_width: 320px;
$min-height: 200px;

@custom-media --mq-mobile (max-width: 479px);
@custom-media --mq-tablet (min-width: 480px) and (max-width: 767px);
@custom-media --mq-normal (min-width: 768px);
@custom-media --mq-pc (min-width: 1000px);
